@import "../../source/styles/mixin.scss";

.Services{
  max-width: 1800px;
  position: relative;
  margin: 0 auto;
  padding: 200px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include screen(1500px){
    padding: 150px 10px;
    width: 100%;
  }
  @include screen($tablet){
    padding: 150px 10px;
  }

  .header {
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 80px;
    color: black;
    font-family: 'PlexMono-Regular', sans-serif;
    margin-bottom: 16px;
    transition: 1s ease-in-out;
    @include screen($tablet-l){
      font-size: 64px;
    }
    @include screen($tablet){
      font-size: 32px;
    }
  }
}