@import "../../../../source/styles/mixin.scss";

.CardCont{
  height: 450px;
  transition: 0.5s ease-in-out all !important;
  overflow: hidden;
  margin-top: 56px;
  cursor: pointer;
  @include screen($wide-ll){
    margin-top: 40px;
    height: 400px;
  }
  @include screen($wide){
    margin-top: 25px;
    height: 350px;
  }
  @include screen($tablet-l){
    width: 48% !important;
  }
  @include screen($tablet-m){
    width: 100% !important;
  }
  @include screen($tablet-m){
    height: 250px !important;
  }


  .CardDiv{
    width: 100%;
    height: 450px;
    @include screen($wide-ll){
      height: 400px;
    }
    @include screen($wide){
      height: 350px;
    }
    @include screen($tablet-m){
      height: 250px;
    }



    .FrontCardSide{
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 450px;
      padding: 35px;
      border-radius: 75px;
      @include screen($wide-ll){
        height: 400px;
        padding: 30px;
      }
      @include screen($wide){
        height: 350px;
      }
      @include screen($tablet-m){
        height: 250px;
        border-radius: 50px;
      }



      .smallPrg{
        font-size: 80px !important;
        transition: 0.5s ease-in-out !important;
        @include screen($wide-ll){
          font-size: 64px !important;
        }
        @include screen($wide){
          font-size: 40px !important;
        }
        @include screen($tablet-l){
          font-size: 64px !important;
        }
        @include screen($tablet-w){
          font-size: 48px !important;
        }
        @include screen($tablet){
          font-size: 40px !important;
        }
        @include screen($tablet-m){
          font-size: 48px !important;
        }


      }
      .CardHeader{
        transition: 0.5s ease-in-out !important;
        font-family: 'IFBosch', sans-serif;
        font-size: 96px;
        max-width: 100%;
        color: white;
        @include screen($wide-ll){
          font-size: 80px;
        }
        @include screen($wide){
          font-size: 64px;
        }
        @include screen($tablet-w){
          font-size: 48px;
        }
        @include screen($tablet){
          font-size: 40px;
        }
        @include screen($tablet-m){
          font-size: 48px;
        }

      }
    }

    .BackCardSide{
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 450px;
      border-radius: 75px;
      flex-direction: column;
      overflow: hidden;
      @include screen($wide-ll){
        height: 400px;
      }
      @include screen($wide){
        height: 350px;
      }
      @include screen($tablet-m){
        height: 250px;
        border-radius: 50px;
      }



      .CardHeader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900 !important;
        font-size: 80px;
        font-family: 'IFBosch', sans-serif;
        text-align: center;
        color: transparent; /* Set text color to transparent */
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
      }

      .prgLine{
        align-items: start;
        width: 100%;
        padding-left: 60px;
        padding-right: 20px;
        color: white;
        position: relative;
        z-index: 2;
        font-family: 'IFBosch', sans-serif;
        font-size: 28px;
        line-height: 40px;
        @include screen($wide-ll){
          font-size: 24px;
          line-height: 32px;
        }
        @include screen($wide){
          font-size: 20px;
          line-height: 26px;
        }
        @include screen($tablet-w){
          font-size: 18px;
          line-height: 24px;
          padding-left: 30px;
        }
        @include screen($tablet){
          font-size: 16px;
          line-height: 20px;
        }



      }

    }

  }



}