@import "../../../../source/styles/mixin.scss";

.CardCont{
  height: 450px;
  transition: 0.5s ease-in-out all !important;
  overflow: hidden;
  margin-top: 56px;
  cursor: pointer;
  .CardDiv{
    width: 100%;
    height: 450px;


    .FrontCardSide{
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 450px;
      padding: 35px;
      border-radius: 75px;
      .smallPrg{
        font-size: 80px !important;
        transition: 0.5s ease-in-out !important;

      }
      .CardHeader{
        transition: 0.5s ease-in-out !important;
        font-family: 'IFBosch', sans-serif;
        font-size: 96px;
        max-width: 100%;
        color: white;
      }
    }

    .BackCardSide{
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 450px;
      border-radius: 75px;
      flex-direction: column;

      .CardHeader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900 !important;
        font-size: 80px;
        font-family: 'IFBosch', sans-serif;
        text-align: center;
        color: transparent; /* Set text color to transparent */
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
      }

      .prgLine{
        align-items: start;
        width: 100%;
        padding-left: 60px;
        color: white;
        position: relative;
        z-index: 2;
        font-family: 'IFBosch', sans-serif;
        font-size: 28px;
        line-height: 40px;
      }

    }

  }



}