@import "../../source/styles/mixin.scss";
.Home{
  position: relative;
  //max-width: 1920px;
  width: 100% !important;
  overflow: hidden;
  background-color: #E5E4E0;

  .section{
    width: 100%;
    position: relative;
  }
  .index1{
    z-index: 1;
  }
  .index2{
    z-index: 2;
  }
  .index3{
    z-index: 2;
  }
  .index4{
    z-index: 2;
  }
  .index5{
    z-index: 5;
  }

  .section1{
    height: 100vh;
    .HomeHead{
      position: fixed;
      top: 0;
      left: 0;
    }
    @include screen($tablet-l){
      height: 600px;
    }

  }
  .section2 {
      height: 1500px;
    .WhatWeDo{
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
  .section3{
    height: 950px;
    .FeaturedWork{
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
  .section4{
    height: 1330px;
    @include screen($wide-ll){
      height: 1200px;
    }
    @include screen($wide){
      height: 1000px;
    }
    @include screen($tablet-l){
      height: 900px;
    }
    @include screen($tablet-w){
      height: 1050px;
    }
    @include screen($tablet-w){
      height: 1150px;
    }
    @include screen($tablet-w){
      height: 1250px;
    }
    @include screen($mobile-l){
      height: 1150px;
    }
    .WhatPayingFor{
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
  .section5{
    height: 110vh;
    @include screen($tablet-l){
      height: 0;
    }
    .PartnerSlide{
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

}

@keyframes fromRight {
  0%{
    transform: translateX(150%);
  }
  85%{
    transform: translateX(150%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes progressLineS {
  0% {
    transform: translate(0, -50px);
  }
  12% {
    transform: translate(0, 670px);
    @include screen($wide-l){
      transform: translate(0, 500px);
    }
  }
  15% {
    transform: translate(-100px, 770px);
    @include screen($wide-l){
      transform: translate(-100px, 575px);
    }
  }
  25% {
    transform: translate(-750px, 770px);
    @include screen($wide-l){
      transform: translate(-750px, 575px);
    }
  }
  37% {
    transform: translate(-1500px, 770px);
    @include screen($wide-l){
      transform: translate(-1500px, 575px);
    }
  }
  0% {
    transform: translate(0, -50px);
  }
}
@keyframes progressLineSW {
  0% {
    transform: translate(0, -50px);
  }
  12% {
      transform: translate(0, 500px);
  }
  15% {
      transform: translate(-100px, 575px);
  }
  25% {
      transform: translate(-750px, 575px);
  }
  37% {
      transform: translate(-1500px, 575px);
  }
  0% {
    transform: translate(0, -50px);
  }
}
@keyframes progressLineM {
  60% {
    transform: translate(0, -50px);
  }
  72% {
    transform: translate(0, 750px);
  }
  75% {
    transform: translate(-100px, 850px);
  }
  85% {
    transform: translate(-800px, 850px);
  }
  97% {
    transform: translate(-1600px, 850px);
  }
  0% {
    transform: translate(0, -50px);
  }
}
@keyframes progressLineMW {
  60% {
    transform: translate(0, -50px);
  }
  72% {
    transform: translate(0, 562px);
  }
  75% {
    transform: translate(-100px, 635px);
  }
  85% {
    transform: translate(-800px, 635px);
  }
  97% {
    transform: translate(-1600px, 635px);
  }
  0% {
    transform: translate(0, -50px);
  }
}
@keyframes progressLineL {
  30% {
    transform: translate(0, -50px);
  }
  42% {
    transform: translate(0, 830px);
  }
  45% {
    transform: translate(-100px, 930px);
  }
  55% {
    transform: translate(-850px, 930px);
  }
  67% {
    transform: translate(-1700px, 930px);
  }
  0% {
    transform: translate(0, -50px);
  }
}
@keyframes progressLineLW {
  30% {
    transform: translate(0, -50px);
  }
  42% {
    transform: translate(0, 620px);
  }
  45% {
    transform: translate(-100px, 700px);
  }
  55% {
    transform: translate(-850px, 700px);
  }
  67% {
    transform: translate(-1700px, 700px);
  }
  0% {
    transform: translate(0, -50px);
  }
}
