@import "../../../source/styles/mixin.scss";

.aboutUsLast{
  width: 90%;
  margin: 60px auto;
  border-radius: 16px;
  border: 1px solid #EAEAEA;
  background: #FAFAFA;
  position: relative;
  z-index: 3;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include screen($tablet){
    width: 96%;
    padding: 60px 10px;
    margin: 30px auto;
  }


  .header{
    font-size: 80px;
    font-family: 'PlexMono-Medium', sans-serif;
    text-align: center;
    @include screen($tablet-l){
      font-size: 64px;
    }
    @include screen($tablet){
      font-size: 36px;
    }
  }

  .textBlock{
    height: 35px;
    overflow: hidden;

    .textLine{


      .letter{
        font-size: 24px;
        font-family: 'PlexMono-Medium', sans-serif;
        color: white;
        line-height: 35px;
        @include screen($mobile-m){
          font-size: 20px;
        }

        &:nth-child(3n+1){
          transition: 0.4s ease-in-out all;
        }
        &:nth-child(3n+2){
          transition: 0.2s ease-in-out all;
        }
        &:nth-child(3n+3){
          transition: 0.6s ease-in-out all;
        }
      }
      .space{
        width: 15px;
      }
    }
  }

  .contactUsBtn{
    margin-top: 40px ;
    display: flex;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
    @include screen($mobile-m){
      padding: 6px 10px;
      border-radius: 16px;
    }


    &:hover{
      .letter{
        &:nth-child(3n+1){
          transition: 0.4s ease-in-out all;
          transform: translateY(-100%);
        }
        &:nth-child(3n+2){
          transition: 0.2s ease-in-out all;
          transform: translateY(-100%);
        }
        &:nth-child(3n+3){
          transition: 0.6s ease-in-out all;
          transform: translateY(-100%);
        }
      }
      .arrowBlock{
        img{
          transition: 1s ease-in-out;
          transform: translateX(-100%);
        }
      }


    }

    .middleLine{
      margin: 0 8px;
      background-color: #383838;
      width: 2px;
      height: 35px;
    }
    .arrowBlock{
      display: flex;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
  }
}