@import "../../../source/styles/mixin.scss";

.aboutUsHead{
  width: 100%;
  margin: 0 auto;
  position: relative;

  .headerBlock{
    position: relative;
    z-index: 2;
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header{
      font-size: 96px;
      font-family: 'IFBosch', sans-serif;
      color: black;
      text-align: center;
      line-height: 120px;
    }
    .borderBlock{
      width: 65%;
      position: absolute;
      left: -1px;
      top: 0;
      height: 100%;
      border: 1px solid #C7C7C7;
    }
  }

  .CardBlock{
    position: relative;
    z-index: 2;
    padding: 0 10px;
    max-width: 1700px;
    margin: 100px auto 0;

    .TextCard{
      width: 55%;
      display: flex;
      flex-wrap: wrap;
      .headCard{
        width: 100%;
        border-radius: 75px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: 0.5s ease-in-out all;
        padding: 15px 35px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        background-position: center;
        cursor: pointer;
        &:hover{
          background-size: 110% 110%;
          border-radius: 100px;
        }

        .CardHeader{
          font-size: 96px;
          font-family: 'IFBosch', sans-serif;
          color: white;
        }
        .prg{
          font-size: 28px;
          font-family: "IFBosch", sans-serif;
          color: white;
          margin: 30px 0 70px;
        }
        .descBlock{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .desc{
            margin-right: 50px;
            font-size: 20px;
            font-family: 'IFBosch', sans-serif;
            color: white;
          }
        }

      }

      .textBlock1{
        width: 45%;
        padding-right: 60px;
        border-right: 1px solid #C7C7C7;
        padding-top: 25px;
        .textHeader{
          font-size: 48px;
          font-family: 'IFBosch', sans-serif;
          color: black;
        }
        .textPrg{
          margin-top: 10px;
          font-size: 28px;
          font-family: 'IFBosch', sans-serif;
          color: #7E7E7E;
        }
      }

      .textBlock2{
        width: 55%;
        padding-left: 60px;
        padding-top: 25px;
        .textHeader{
          font-size: 48px;
          font-family: 'IFBosch', sans-serif;
          color: black;
        }
        .textPrg{
          width: 80%;
          margin-top: 10px;
          font-size: 28px;
          font-family: 'IFBosch', sans-serif;
          color: #7E7E7E;
        }
      }

    }

    .imgCard{
      width: 43%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 75px;
      transition: 0.5s ease-in-out all !important;
      cursor: pointer;
      &:hover{
        border-radius: 100px;
        scale: 1.02;
      }
    }


  }

  .water1{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 20%;
    opacity: 0.8;
  }
  .water2{
    position: absolute;
    z-index: 3;
    left: 40%;
    top: 30%;
    opacity: 0.8;
  }
  .water3{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -70%;
    opacity: 0.8;
  }

}