@import "../../../source/styles/mixin.scss";

.FeaturedWork {
  width: 100%;
  position: relative;
  z-index: 7;
  background-color: #E5E4E0;
  height: 1050px;
  overflow:  hidden;

  .animBlock {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
  }

  .slider {
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }

  .headerBlock {
    display: flex;
    justify-content: center;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;

    .headerCont {
      padding: 25px 64px 25px 0;
      border-right: 1px solid #C7C7C7;

      .FutureWork {
        font-size: 148px;
        font-family: 'IFBosch', sans-serif;
        line-height: 106px;
        font-weight: 400;
      }
    }

    .underHeader {
      padding: 20px 20px;
      width: min-content;

      .prg {
        line-height: 70px;
        font-size: 32px;
        color: black;
        white-space: nowrap;
        font-family: 'IFBosch', sans-serif;
      }

      .underLine {
        width: 100%;
        height: 1px;
        background-color: black;
      }
    }
  }
}


//svg {
//  fill: black;
//}




