@import "../../../source/styles/mixin.scss";

.WhatPayingFor {
  width: 100%;
  padding: 0 0 100px;
  position: relative;
  background-color: #E5E4E0;
  overflow: hidden;
  height: 1330px;
  @include screen($wide-ll){
    height: 1200px;
  }
  @include screen($wide){
    height: 1000px;
  }
  @include screen($tablet-l){
    height: 900px;
  }
  @include screen($tablet-w){
    height: 1050px;
  }
  @include screen($tablet-w){
    height: 1150px;
  }
  @include screen($tablet-w){
    height: 1250px;
  }
  @include screen($mobile-l){
    height: 1150px;
  }

  .BubbleImg1{
    position: absolute;
    height: 100vh;
    z-index: 1;
    top: -30%;
    left: -40%;
    rotate: 45deg;
    opacity: 0.6;
    @include screen($tablet-w){
      display: none;
    }
  }
  .BubbleImg2{
    position: absolute;
    height: 100vh;
    z-index: 1;
    top: 30%;
    right: -50%;
    rotate: 130deg;
    opacity: 0.6;
    @include screen($tablet-w){
      display: none;
    }
  }

  .headerBlock {
    position: relative;
    z-index: 2;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    display: flex;
    justify-content: center;

    .header {
      font-size: 120px;
      font-weight: 400;
      color: black;
      font-family: 'IFBosch', sans-serif;
      border-right: 1px solid #C7C7C7;
      padding: 0 0 20px;
      white-space: nowrap;
      width: min-content;
      @include screen($wide-ll){
        font-size: 100px;
      }
      @include screen($wide){
        font-size: 72px;
      }
      @include screen($tablet-l){
        font-size: 64px;
      }
      @include screen($tablet-w){
        font-size: 50px;
      }
      @include screen($tablet){
        font-size: 52px;
        white-space: normal;
        width: auto;
        text-align: center;
        border: none;
      }
      @include screen($mobile-l){
        font-size: 40px;
      }

    }
  }

  .cards{
    position: relative;
    z-index: 2;
    margin: 100px auto 0;
    max-width: 1500px;
    padding: 0 10px;
    overflow: hidden;
    @include screen($wide-ll){
      max-width: 1300px;
    }
    @include screen($wide){
      max-width: 1000px;
    }
    @include screen($tablet){
      flex-direction: column;
      margin: 0 auto;
    }

    .cardCont{
      width: 48%;
      border-radius: 75px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 20px 5% 40px;
      cursor: pointer;
      transition: 0.5s ease-in-out all;
      @include screen($wide-ll){
        padding: 20px 4% 35px;
      }
      @include screen($wide){
        padding: 15px 3% 25px;
        border-radius: 50px;
      }
      @include screen($tablet-l){
        padding: 10px 3% 20px;
        border-radius: 40px;
      }
      @include screen($tablet){
        width: 100%;
        margin-top: 50px;
      }

      &:hover{
        scale: 1.01;
        border-radius: 100px;
        @include screen($wide){
          border-radius: 75px;
        }
        @include screen($tablet){
          border-radius: 50px;
        }
      }

      .CardHeader{
        font-size: 96px;
        color: white;
        font-family: 'IFBosch', sans-serif;
        text-align: center;
        margin-bottom: 50px;
        @include screen($wide-ll){
          font-size: 80px;
        }
        @include screen($wide){
          font-size: 64px;
        }
        @include screen($tablet-l){
          font-size: 52px;
        }
        @include screen($mobile-l){
          font-size: 48px;
          margin-bottom: 30px;
        }

      }
      .prg{
        font-size: 40px;
        color: black;
        font-family: 'IFBosch', sans-serif;
        @include screen($wide-ll){
          font-size: 36px;
        }
        @include screen($wide){
          font-size: 28px;
        }
        @include screen($tablet-l){
          font-size: 24px;
        }
        @include screen($mobile-l){
          font-size: 20px;
        }

        span{
          color: white;
        }
      }
    }

    .underTextCont{
      width: 100%;
      display: flex;
      justify-content: end;
      margin-top: 15px;
      @include screen($wide-ll){
        margin-right: 50px;
      }
      .textBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        .text{
          font-size: 32px;
          font-family: 'IFBosch', sans-serif;
          font-weight: 400;
          white-space: nowrap;
          line-height: 80px;
          @include screen($tablet-l){
            font-size: 28px;
          }
          @include screen($tablet){
            font-size: 24px;
          }
          @include screen($mobile-l){
            font-size: 20px;
          }
        }
        .underLine{
          width: 100%;
          height: 1px;
          background-color: black;
        }
      }
    }
  }
}