@import "../../../source/styles/mixin.scss";

.WhatPayingFor {
  width: 100%;
  margin-top: 150px;
  position: relative;

  .BubbleImg1{
    position: absolute;
    height: 100vh;
    z-index: 1;
    top: -30%;
    left: -40%;
    rotate: 45deg;
    opacity: 0.6;
  }
  .BubbleImg2{
    position: absolute;
    height: 100vh;
    z-index: 1;
    top: 30%;
    right: -50%;
    rotate: 130deg;
    opacity: 0.6;
  }

  .headerBlock {
    position: relative;
    z-index: 2;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    display: flex;
    justify-content: center;

    .header {
      font-size: 120px;
      font-weight: 400;
      color: black;
      font-family: 'IFBosch', sans-serif;
      border-right: 1px solid #C7C7C7;
      padding: 0 0 20px;
      white-space: nowrap;
      width: min-content;
    }
  }

  .cards{
    position: relative;
    z-index: 2;
    margin: 100px auto 0;
    max-width: 1500px;
    padding: 0 10px;
    overflow: hidden;

    .cardCont{
      width: 48%;
      border-radius: 75px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 20px 5% 40px;
      cursor: pointer;
      transition: 0.5s ease-in-out all;

      &:hover{
        scale: 1.01;
        border-radius: 100px;
      }

      .CardHeader{
        font-size: 96px;
        color: white;
        font-family: 'IFBosch', sans-serif;
        text-align: center;
        margin-bottom: 50px;
      }
      .prg{
        font-size: 40px;
        color: black;
        font-family: 'IFBosch', sans-serif;
        span{
          color: white;
        }
      }
    }

    .underTextCont{
      width: 100%;
      display: flex;
      justify-content: end;
      margin-top: 15px;
      .textBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        .text{
          font-size: 32px;
          font-family: 'IFBosch', sans-serif;
          font-weight: 400;
          white-space: nowrap;
          line-height: 80px;
        }
        .underLine{
          width: 100%;
          height: 1px;
          background-color: black;
        }
      }
    }
  }
}