@import "../../../source/styles/mixin.scss";

.HomeHead{
  width: 100%;
  position: relative;
  z-index: 3;
  pointer-events: none;
  @include screen($wide-l){
    margin: 150px auto;
  }
  @include screen($tablet-l){
    margin: 130px auto;
  }
  @include screen($wide-s){
    margin: 100px auto;
  }
  .bck{
    position: absolute;
    z-index: 5;
    pointer-events: none;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);

  }

  .header{
    pointer-events: none;
    position: relative;
    z-index: 3;
    font-size: 164px;
    font-family: 'Darker-Grot', sans-serif;
    font-weight: 300;
    color: black;
    transition: 1s ease-in-out;
    white-space: nowrap;
    letter-spacing: -3px;
    line-height: 120px;
    &:nth-child(2){
      margin-bottom: 50px;
    }
    @include screen($wide-l){
      font-size: 90px;
    }
    @include screen($desktop){
      font-size: 80px;
      white-space: unset;
    }
    @include screen($tablet-l){
      font-size: 64px;
    }
    @include screen($tablet){
      font-size: 40px;
    }

  }
  
  .headerBlock{
    margin: 180px auto;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    padding-left: 200px;
  }
  .prg{
    z-index: 3;
    margin-top: 24px;
    font-size: 28px;
    font-family: 'Darker-Grot', sans-serif;
    font-weight: 500;
    color: black;
    max-width: 540px;
    line-height: 30px;
    letter-spacing: 0 !important;
    position: absolute;
    rotate: 90deg;
    left: -30%;
    top: 40%;
    @include screen($wide-l){
      font-size: 26px;
    }
    @include screen($tablet-l){
      max-width: 80%;
    }
    @include screen($tablet){
      max-width: 100%;
    }
  }

  .textBlock{
    position: relative;
    z-index: 3;
    border-left: 1px solid #C7C7C7;
    padding: 45px 60px;
    height: min-content;
    margin-right: 50px;
    .prgRight{
      font-size: 40px;
      width: 265px;
      line-height: 40px;
      font-family: 'Darker-Grot', sans-serif;
      font-weight: 500;
      border-bottom: 1px solid #C7C7C7;
      padding-bottom: 65px;
    }
  }
}

@keyframes fromRight {
  0%{
    transform: translateX(100%);
    opacity: 0;
    letter-spacing: 10px;
  }
  85%{
    transform: translateX(100%);
    opacity: 0;
    letter-spacing: 10px;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
    letter-spacing: -3px;
  }
}

@keyframes fromLeft {
  0%{
    transform: translateX(-100%);
    opacity: 0;
    letter-spacing: 10px;
  }
  85%{
    transform: translateX(-100%);
    opacity: 0;
    letter-spacing: 10px;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
    letter-spacing: -3px;
  }
}

