@font-face {
  font-family: PlexMono-Thin;
  src: url("./IBMPlexMono-Thin.ttf");
}
@font-face {
  font-family: PlexMono-ExtraLight;
  src: url("./IBMPlexMono-ExtraLight.ttf");
}

@font-face {
  font-family: PlexMono-Light;
  src: url("./IBMPlexMono-Light.ttf");
}
@font-face {
  font-family: PlexMono-Regular;
  src: url("./IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: PlexMono-Medium;
  src: url("./IBMPlexMono-Medium.ttf");
}
@font-face {
  font-family: PlexMono-SemiBold;
  src: url("./IBMPlexMono-SemiBold.ttf");
}

@font-face {
  font-family: PlexMono-Bold;
  src: url("./IBMPlexMono-Bold.ttf");
}

@font-face {
  font-family: Darker-Grot;
  src: url("./DarkerGrotesque-VariableFont_wght.ttf");
}

@font-face {
  font-family: IFBosch;
  src: url("./IFBosch-Regular.ttf");
}