@import "../../../source/styles/mixin.scss";

.Pricing{
  width: 100%;
  padding: 70px 100px;
  background-color: #F9F9F9;
  position: relative;
  z-index: 3;
  margin-top: 100px;
  @include screen($wide){
    padding: 50px 10px;
  }
  @include screen($tablet-l){
    display: none;
  }


  .Blocks{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .block{
      width: 5%;
      border: 1px solid #EAEAEA;
      height: 40px;
    }
  }

  .header{
    font-size: 80px;
    color: black;
    font-family: 'PlexMono-Regular', sans-serif;
    max-width: 80%;
    line-height: 104px;
    margin-bottom: 90px;
  }


  .Main{

    .types{
      width: 100%;
      display: flex;
      justify-content: end;
      position: relative;

      .bookCall{
        display: flex;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 20px;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 20px;
        @include screen($mobile-m){
          padding: 6px 10px;
          border-radius: 16px;
        }


        &:hover{
          .letter{
            &:nth-child(3n+1){
              transition: 0.4s ease-in-out all;
              transform: translateY(-100%);
            }
            &:nth-child(3n+2){
              transition: 0.2s ease-in-out all;
              transform: translateY(-100%);
            }
            &:nth-child(3n+3){
              transition: 0.6s ease-in-out all;
              transform: translateY(-100%);
            }
          }
          .arrowBlock{
            img{
              transition: 1s ease-in-out;
              transform: translateX(-100%);
            }
          }


        }
        .textBlock{
          height: 35px;
          overflow: hidden;

          .textLine{


            .letter{
              font-size: 24px;
              font-family: 'PlexMono-Medium', sans-serif;
              color: black;
              line-height: 35px;
              @include screen($mobile-m){
                font-size: 20px;
              }

              &:nth-child(3n+1){
                transition: 0.4s ease-in-out all;
              }
              &:nth-child(3n+2){
                transition: 0.2s ease-in-out all;
              }
              &:nth-child(3n+3){
                transition: 0.6s ease-in-out all;
              }
            }
            .space{
              width: 15px;
            }
          }
        }
        .middleLine{
          margin: 0 8px;
          background-color: #383838;
          width: 2px;
          height: 35px;
        }
        .arrowBlock{
          display: flex;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }

      .PricingCardBlock{
        width: 20%;
        margin-left: 2%;
        @include screen(1700px){
          width: 25%;
        }
        @include screen($wide-s){
          margin-left: 1%;
        }

        .BlueBlock{
          background: linear-gradient(71deg, #0038FF 2.82%, rgba(0, 71, 255, 0.78) 22.8%, #0038FF 44.53%), #FFF !important;
          .PlanName{
            color: white !important;
          }
          .desc{
            color: white !important;
          }
          .price{
            color: white !important;
          }

          .getStarted{
            background-color: transparent !important;
            border: 1px solid white !important;
          }
        }
        .cardBlock{
          width: 100%;
          height: 100%;
          border-radius: 24px;
          padding: 24px;
          background: #FFF;


          &:nth-child(2){
          }
          &:nth-child(3){


          }
          &:nth-child(4){
            background-color: #FFFFFF;
          }


          .PlanName{
            font-size: 32px;
            font-family: 'PlexMono-Medium', sans-serif;
            color: black;
            margin-bottom: 8px;
            @include screen($wide-l){
              font-size: 26px;
            }
            @include screen($wide){
              margin-bottom: 0;
            }
          }
          .desc{
            font-size: 20px;
            font-family: 'PlexMono-Regular', sans-serif;
            color: black;
            margin-bottom: 30px;
            @include screen($wide-l){
              font-size: 16px;
            }
            @include screen($wide){
              margin-bottom: 15px;
            }

          }
          .price{
            margin-bottom: 16px;
            font-size: 40px;
            font-family: 'PlexMono-Medium', sans-serif;
            color: black;
            @include screen($wide-l){
              font-size: 32px;
            }

          }


          .getStarted{
            display: flex;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 20px;
            background-color: black;
            cursor: pointer;
            justify-content: center;




            @include screen($mobile-m){
              padding: 6px 10px;
              border-radius: 16px;
            }


            &:hover{
              .letter{
                &:nth-child(3n+1){
                  transition: 0.4s ease-in-out all;
                  transform: translateY(-100%);
                }
                &:nth-child(3n+2){
                  transition: 0.2s ease-in-out all;
                  transform: translateY(-100%);
                }
                &:nth-child(3n+3){
                  transition: 0.6s ease-in-out all;
                  transform: translateY(-100%);
                }
              }
              .arrowBlock{
                img{
                  transition: 1s ease-in-out;
                  transform: translateX(-100%);
                }
              }


            }
            .textBlock{
              height: 35px;
              overflow: hidden;


              .textLine{


                .letter{
                  font-size: 24px;
                  font-family: 'PlexMono-Medium', sans-serif;
                  color: white;
                  line-height: 35px;
                  @include screen($mobile-m){
                    font-size: 20px;
                  }

                  &:nth-child(3n+1){
                    transition: 0.4s ease-in-out all;
                  }
                  &:nth-child(3n+2){
                    transition: 0.2s ease-in-out all;
                  }
                  &:nth-child(3n+3){
                    transition: 0.6s ease-in-out all;
                  }
                }
                .space{
                  width: 15px;
                }
              }
            }
            .middleLine{
              margin: 0 8px;
              background-color: #383838;
              width: 2px;
              height: 35px;
            }
            .arrowBlock{
              display: flex;
              width: 24px;
              height: 24px;
              overflow: hidden;
            }
          }


        }
      }



    }

    .classes{
     margin-top: 40px;

      .classLine{
        display: flex;
        padding: 24px;
        border-top: 1px solid #EAEAEA;
        width: 100%;
        &:nth-last-child(1){
          border-bottom: 1px solid #EAEAEA;
        }
        .name{
          max-width: 30%;
          font-size: 24px;
          font-family: 'PlexMono-Regular', sans-serif;
          color: black;
          @include screen(1700px){
            width: 25%;
          }
          @include screen($wide-l){
            font-size: 20px;
          }
        }
        .marked{
          width: 66%;
          display: flex;
          align-items: center;
          @include screen(1700px){
            width: 80%;
          }
          span{
            font-size: 24px;
            font-family: 'PlexMono-Medium', sans-serif;
            color: black;
            width: 34%;
            margin-left: 5%;
            @include screen($wide-l){
              font-size: 20px;
            }
          }
          .img{
            width: 34%;
            margin-left: 5%;
            img{
              width: 55px;
              @include screen($wide-l){
                width: 45px;
              }
            }
          }
        }
      }


    }

  }




}