@import "../../../source/styles/mixin.scss";

.PartnerSlide{
  width: 100%;
  position: relative;
  z-index: 3;
  overflow: hidden;
  background-color: #111111;
  height: 110vh;
  border-radius: 75px 75px 0 0;
  @include screen($tablet-l){
    display: none;
  }


  .introCont{
    width: 100%;
    height: 100vh;
    font-family: 'Darker-Grot', sans-serif !important;
    font-weight: 700 !important;
  }
}