@import "../../../source/styles/mixin.scss";

.PartnerSlide{
  width: 100%;
  position: relative;
  z-index: 3;
  overflow: hidden;
  background-color: #E5E4E0;
  height: 110vh;


  .introCont{
    width: 100%;
    height: 100vh;
    font-family: 'Darker-Grot', sans-serif !important;
    font-weight: 700 !important;
  }
}