*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth !important;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

img{
  draggable: false;
  pointer-events: none;
}


* {
  box-sizing: border-box;
}





a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

/*svg {*/
/*  fill: black;*/
/*}*/



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  position: inherit;
  top: inherit;
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}
