@import "../../../source/styles/mixin.scss";

.WhatWeDo {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  z-index: 6;
  height: 1500px;
  background-color: #E5E4E0;
  position: relative;
  @include screen($wide-ll){
    height: 1400px;
  }
  @include screen($wide){
    height: 1200px ;
  }
  @include screen($tablet-m){
    height: 1500px;
  }



  .BubbleImg1{
    pointer-events: none;
    position: absolute;
    height: 100vh;
    top: 0;
    right: -50%;
    rotate: -140deg;
    z-index: -1;
    opacity: 0.6;
    @include screen($tablet-w){
      display: none;
    }
  }

  .BubbleImg2{
    pointer-events: none;
    position: absolute;
    height: 100vh;
    bottom: 0;
    left: -40%;
    rotate: -270deg;
    z-index: -1;
    opacity: 0.6;
    @include screen($tablet-w){
      display: none;
    }

  }

  .headerBlock{
    text-align: center;
    padding: 50px 10px;
    width: 100%;
    font-size: 140px;
    line-height: 106px;
    color: black;
    font-family: 'IFBosch', sans-serif;
    margin-bottom: 16px;
    transition: 1s ease-in-out;
    border-bottom: 1px solid #C7C7C7;
    @include screen($wide-ll){
      font-size: 110px;
      padding: 40px 10px;
    }
    @include screen($wide){
      font-size: 80px;
      padding: 30px 10px;
    }
    @include screen($tablet-w){
      font-size: 60px;
      padding: 20px 10px;
    }
    @include screen($tablet){
      line-height: 60px;
    }
    @include screen($mobile-l){
      font-size: 42px;
    }
  }

  .underHeaderBlock{
    margin-left: 11%;
    display: flex;
    align-items: center;
    @include screen($wide-l){
      margin-left: 5%;
    }
    .blackLine{
      width: 145px;
      height: 5px;
      background-color: black;
      @include screen($wide-l){
        height: 4px;
      }
      @include screen($wide){
        height: 3px;
      }
      @include screen($tablet){
        height: 2px;
        width: 100px;
      }
    }
    .underHeader{
      margin-left: 2px;
      font-family: 'IFBosch', sans-serif;
      font-size: 48px;
      color: black;
      line-height: 40px;
      @include screen($wide-l){
        font-size: 40px;
      }
      @include screen($wide){
        font-size: 32px;
      }
      @include screen($tablet){
        font-size: 26px;
      }
    }
  }

  .Cards{
    max-width: 1570px;
    position: relative;
    z-index: 5;
    margin: 56px auto 0;
    @include screen($wide-lll){
      padding: 0 10px;
    }
    @include screen($tablet-l){
      justify-content: space-between;
    }
    @include screen($tablet){
      margin: 20px auto 0;
    }


    .bck2{
      height: 450px;
      width: 28%;
      border-radius: 75px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-top: 56px;
      transition: 0.5s ease-in-out all;
      cursor: pointer;
      @include screen($wide-ll){
        height: 400px;
        margin-top: 40px;
      }
      @include screen($wide){
        margin-top: 25px;
      }
      @include screen($wide){
        height: 350px;
      }
      @include screen($tablet-l){
        display: none;
      }


      &:hover{
        border-radius: 100px;
      }
    }

    .linkToService{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 75px;
      margin-top: 56px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      text-decoration: none;
      padding: 40px 0;
      transition: 0.5s ease-in-out all !important;
      &:hover{
        border-radius: 100px !important;
        svg{
          rotate: 360deg;
        }
      }
      p{
        font-family: 'IFBosch', sans-serif;
        color: white;
        font-size: 96px;
        line-height: 100px;
      }
      svg{
        transition: 0.3s ease-in-out all;
        margin-top: 20px;
      }
    }

    .CardCont{
      &:nth-child(2){
        cursor: pointer;


        .FrontCardSide{
          .CardHeader{
            width: 18%;
            transform: rotate(-90deg) !important;
            transform-origin: left bottom !important;
            text-align: center;
            line-height: 1;
            margin-top: 100% !important;
            margin-left: 50% !important;
            @include screen($tablet-l){
              transform: none !important;
              margin: 0 !important;
              width: 100%;
            }

          }
        }
      }
    }

    .underText{
      width: 100%;
      display: flex;
      justify-content: end;
      margin-top: 50px;
      @include screen($wide-ll){
        margin-right: 50px;
      }
      @include screen($tablet){
        margin-right: 20px;
      }

      .textBlock{
        width: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{
          font-family: 'IFBosch', sans-serif;
          color: black;
          font-size: 32px;
          line-height: 50px;
          white-space: nowrap;
          @include screen($mobile-l){
            font-size: 26px;
            line-height: 40px;
          }
          @include screen($mobile-m){
            font-size: 20px;
            line-height: 35px;
          }
        }
        .underLine{
          height: 1px;
          width: 100%;
          background-color: black;

        }
      }
    }
  }
}



