@import "../../../source/styles/mixin.scss";

.WhatWeDo {
  width: 100%;
  position: relative;
  margin: 0 auto;
  flex-wrap: wrap;
  z-index: 6;
  //max-width: 1570px;



  .headerBlock{
    text-align: center;
    padding: 50px 10px;
    width: 100%;
    font-size: 140px;
    line-height: 106px;
    color: black;
    font-family: 'IFBosch', sans-serif;
    margin-bottom: 16px;
    transition: 1s ease-in-out;
    border-bottom: 1px solid #C7C7C7;
    @include screen($tablet-l){
      font-size: 64px;
    }
    @include screen($tablet){
      font-size: 32px;
    }
  }

  .underHeaderBlock{
    margin-left: 11%;
    display: flex;
    align-items: center;
    .blackLine{
      width: 145px;
      height: 5px;
      background-color: black;
    }
    .underHeader{
      margin-left: 2px;
      font-family: 'IFBosch', sans-serif;
      font-size: 48px;
      color: black;
      line-height: 40px;
    }
  }

  .Cards{
    max-width: 1570px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    margin-top: 56px;

    .CardCont{
      &:nth-child(2){
        cursor: pointer;


        .FrontCardSide{
          .CardHeader{
            width: 18%;
            transform: rotate(-90deg) !important;
            transform-origin: left bottom !important;
            text-align: center;
            line-height: 1;
            margin-top: 100% !important;
            margin-left: 50% !important;
          }
        }
      }
    }
  }
}



