@import "../../../source/styles/mixin.scss";

.WhatWeDo {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  z-index: 6;
  height: 1500px;
  overflow: hidden;
  background-color: #E5E4E0;
  //max-width: 1570px;

  .BubbleImg1{
    pointer-events: none;
    position: absolute;
    height: 100vh;
    top: 0;
    right: -50%;
    rotate: -140deg;
    z-index: -1;
    opacity: 0.6;
  }

  .BubbleImg2{
    pointer-events: none;
    position: absolute;
    height: 100vh;
    bottom: 0;
    left: -40%;
    rotate: -270deg;
    z-index: -1;
    opacity: 0.6;
  }

  .headerBlock{
    text-align: center;
    padding: 50px 10px;
    width: 100%;
    font-size: 140px;
    line-height: 106px;
    color: black;
    font-family: 'IFBosch', sans-serif;
    margin-bottom: 16px;
    transition: 1s ease-in-out;
    border-bottom: 1px solid #C7C7C7;
    @include screen($tablet-l){
      font-size: 64px;
    }
    @include screen($tablet){
      font-size: 32px;
    }
  }

  .underHeaderBlock{
    margin-left: 11%;
    display: flex;
    align-items: center;
    .blackLine{
      width: 145px;
      height: 5px;
      background-color: black;
    }
    .underHeader{
      margin-left: 2px;
      font-family: 'IFBosch', sans-serif;
      font-size: 48px;
      color: black;
      line-height: 40px;
    }
  }

  .Cards{
    max-width: 1570px;
    position: relative;
    z-index: 5;
    margin: 56px auto 0;

    .bck2{
      height: 450px;
      width: 28%;
      border-radius: 75px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-top: 56px;
      transition: 0.5s ease-in-out all;
      cursor: pointer;
      &:hover{
        border-radius: 100px;
      }
    }

    .linkToService{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 75px;
      margin-top: 56px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      text-decoration: none;
      padding: 40px 0;
      transition: 0.5s ease-in-out all !important;

      &:hover{
        border-radius: 100px !important;
        svg{
          rotate: 360deg;
        }
      }
      p{
        font-family: 'IFBosch', sans-serif;
        color: white;
        font-size: 96px;
        line-height: 100px;
      }
      svg{
        transition: 0.3s ease-in-out all;
        margin-top: 20px;
      }
    }

    .CardCont{
      &:nth-child(2){
        cursor: pointer;


        .FrontCardSide{
          .CardHeader{
            width: 18%;
            transform: rotate(-90deg) !important;
            transform-origin: left bottom !important;
            text-align: center;
            line-height: 1;
            margin-top: 100% !important;
            margin-left: 50% !important;
          }
        }
      }
    }

    .underText{
      width: 100%;
      display: flex;
      justify-content: end;
      margin-top: 50px;

      .textBlock{
        width: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{
          font-family: 'IFBosch', sans-serif;
          color: black;
          font-size: 32px;
          line-height: 50px;
          white-space: nowrap;
        }
        .underLine{
          height: 1px;
          width: 100%;
          background-color: black;

        }
      }
    }
  }
}



