@import "../../source/styles/mixin.scss";
.circle-cursor{

  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  //border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  pointer-events: none; /* Это важно, чтобы курсор не мешал кликам */
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
  z-index:9999;
  content: '';
  justify-content: center;
  align-items: center;
  @include screen($tablet-l){
    display: none;
  }
}
.futureScroll{
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: gray;
  animation: animCursor 2s linear infinite;
  color: white;
  font-family: 'IFBosch', sans-serif;
  font-size: 24px;
  text-align: center;
  @include screen($tablet-l){
    display: none;
  }
}


@keyframes animCursor {
  0%{
    border-radius: 12.5% 50% 37.5% 25%;
  }
  25%{
    border-radius: 25% 12.5% 50% 37.5%;
  }
  50%{
    border-radius: 37.5% 25% 12.5% 50%;
  }
  75%{
    border-radius: 50% 37.5% 25% 12.5%;
  }
  100%{
    border-radius: 12.5% 50% 37.5% 25%;
  }
}